@import url('//fonts.googleapis.com/css?family=Montserrat');

html, body {
  min-width: 100vw;
  min-height: 100vh;
  width: 100%;
  height: 100%;
  font-family: Montserrat, Helvetica, sans-serif;
}
.widget {
  min-width: 100%;
  min-height: 100%;
  background-image: url(img/background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cubes {
  color: #ffffff;
  box-shadow: 3px 3px 10px #000000;
  text-align: center;
}
.city {
  display: flex;*/
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
}
.city-name {
  width: 100%;
}
.blue {
  background-color: #00b4df;
}
.blue .svg-icon {
  filter: drop-shadow(0 1px 0 rgba(7, 150, 202, 0.75));
}
.green {
  background-color: #00de89;
}
.green .svg-icon {
  filter: drop-shadow(0 1px 0 rgba(38, 184, 85, 0.75));
}
.violet {
  background-color: #7900f9;
}
.violet .svg-icon {
  filter: drop-shadow(0 1px 0 rgba(52, 24, 239, 0.75));
}
.yellow {
  background-color: #e9b828;
}
.yellow .svg-icon {
  filter: drop-shadow(0 1px 0 rgba(211, 148, 31, 0.75));
}
.red {
  background-color: #f1005c;
}
.red .svg-icon {
  filter: drop-shadow(0 1px 0 rgba(203, 34, 67, 0.75));
}
.rose {
  background-color: #d126cd;
}
.rose .svg-icon {
  filter: drop-shadow(0 1px 0 rgba(155, 45, 177, 0.75));
}
.purple {
  background-color: #b53355;
}
.purple .svg-icon {
  filter: drop-shadow(0 1px 0 rgba(170, 23, 49, 0.75));
}
.with-info {
  display: flex;
  align-items: flex-end;
}
.info {
  height: 50%;
  font-size: .75em;
  width: 100%;
  margin: 0;
}
.svg-sprite {
  display: none;
  overflow: auto;
}
.svg-icon {
  display: inline-block;
  overflow: auto;
  fill: #fff;
  fill-rule: evenodd;
}
.rain {
  width: 91px;
  height: 76px;
}
.fog {
  width: 82px;
  height: 76px;
}
.sun-cloud {
  width: 88px;
  height: 76px;
}
.sun-snow {
  width: 89px;
  height: 90px;
}
.thunderstorm {
  width: 64px;
  height: 65px;
}
.cloud {
  width: 88px;
  height: 89px;
}
.daily .svg-icon {
  width: 18px;
  height: 18px;
}

@media (max-width: 575px) {
  .widget {
    min-width: 312px;
    padding: 0;
    align-items: flex-start;
  }
  .cubes {
    width: 100%;
    height: 468px;
    font-size: 12px;
    padding: 0;
  }
  .city {
    width: calc(100% / 2);
    height: calc(100% / 3);
  }
  .rain {
    width: calc(91px / 1.5);
    height: calc(76px / 1.5);
  }
  .fog {
    width: calc(82px / 1.5);
    height: calc(76px / 1.5);
  }
  .sun-cloud {
    width: calc(88px / 1.5);
    height: calc(76px / 1.5);
  }
  .sun-snow {
    width: calc(89px / 1.5);
    height: calc(90px / 1.5);
  }
  .thunderstorm {
    width: calc(64px / 1.5);
    height: calc(65px / 1.5);
  }
  .cloud {
    width: calc(88px / 1.5);
    height: calc(89px / 1.5);
  }
  .daily p {
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 1em;
  }
  .city-name {
    font-size: 1.3em;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .cubes {
    width: 408px;
    height: 612px;
    font-size: 16px;
  }
  .city {
    width: calc(100% / 2);
    height: calc(100% / 3);
  }
  .rain {
    width: 91px;
    height: 76px;
  }
  .fog {
    width: 82px;
    height: 76px;
  }
  .sun-cloud {
    width: 88px;
    height: 76px;
  }
  .sun-snow {
    width: 89px;
    height: 90px;
  }
  .thunderstorm {
    width: 64px;
    height: 65px;
  }
  .cloud {
    width: 88px;
    height: 89px;
  }
  .daily p {
    margin-top: 12px;
    margin-bottom: 12px;
  }
  .city-name {
    margin-top: 10px;
  }
}
@media (min-width: 768px) {
  .cubes {
    width: 612px;
    height: 408px;
    font-size: 16px;
  }
  .city {
    width: calc(100% / 3);
    height: calc(100% / 2);
  }
  .rain {
    width: 91px;
    height: 76px;
  }
  .fog {
    width: 82px;
    height: 76px;
  }
  .sun-cloud {
    width: 88px;
    height: 76px;
  }
  .sun-snow {
    width: 89px;
    height: 90px;
  }
  .thunderstorm {
    width: 64px;
    height: 65px;
  }
  .cloud {
    width: 88px;
    height: 89px;
  }
  .daily p {
    margin-top: 12px;
    margin-bottom: 12px;
  }
}
