@import url('//fonts.googleapis.com/css?family=Montserrat');

html, body {
  width: 100%;
  height: 100%;
  font-family: Montserrat, Helvetica, sans-serif;
}
.widget {
  width: 100%;
  height: 100%;
  position: relative;
  background-image: url(img/background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.cubes {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #ffffff;
  box-shadow: 3px 3px 10px #000000;
  clear: both;
  font-size: 16px;
}
.city {
  float: left;
  text-align: center;
}
.blue {
  background-color: #00b4df;
}
.blue .svg-icon {
  filter: drop-shadow(0 1px 0 rgba(7, 150, 202, 0.75));
}
.green {
  background-color: #00de89;
}
.green .svg-icon {
  filter: drop-shadow(0 1px 0 rgba(38, 184, 85, 0.75));
}
.violet {
  background-color: #7900f9;
}
.violet .svg-icon {
  filter: drop-shadow(0 1px 0 rgba(52, 24, 239, 0.75));
}
.yellow {
  background-color: #e9b828;
}
.yellow .svg-icon {
  filter: drop-shadow(0 1px 0 rgba(211, 148, 31, 0.75));
}
.red {
  background-color: #f1005c;
}
.red .svg-icon {
  filter: drop-shadow(0 1px 0 rgba(203, 34, 67, 0.75));
}
.with-info {
  position: relative;
}
.rose {
  background-color: #d126cd;
}
.rose .svg-icon {
  filter: drop-shadow(0 1px 0 rgba(155, 45, 177, 0.75));
}
.purple {
  background-color: #b53355;
}
.purple .svg-icon {
  filter: drop-shadow(0 1px 0 rgba(170, 23, 49, 0.75));
}
.info {
  height: 50%;
  width: 100%;
  margin-top: 10%;
  position: absolute;
  bottom: 0;
  font-size: .75em;
}
.city-name {
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  width: 100%;
  margin-bottom: 0;
  margin-top: 29px;
}
.daily {
  width: 20%;
  display: inline-block;
  text-align: center;
}
.daily .svg-icon {
  display: inherit;
}
/*styles for icons*/
.svg-sprite {
  display: none;
  overflow: auto;
}
.svg-icon {
  display: inline-block;
  overflow: auto;
  fill: #fff;
  fill-rule: evenodd;
  margin-top: 25px;
}
.rain {
  width: 91px;
  height: 76px;
}
.fog {
  width: 82px;
  height: 76px;
}
.sun-cloud {
  width: 88px;
  height: 76px;
}
.sun-snow {
  width: 89px;
  height: 90px;
}
.thunderstorm {
  width: 64px;
  height: 65px;
}
.cloud {
  width: 88px;
  height: 89px;
}
.daily * + * {
  margin-top: 12px;
}
.daily .svg-icon {
  height: 18px;
  width: 18px;
}

@media (max-width: 479px) {
  .widget {
    min-width: 204px;
    min-height: calc(204px * 6);
    padding: 30px 0;
  }
  .cubes {
    width: 204px;
    height: calc(204px * 6);
    margin-top: calc(-1224px / 2);
    margin-left: calc(-204px / 2);
  }
  .city {
    width: 100%;
    height: 204px;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .cubes {
    width: 408px;
    height: 612px;
    margin-top: calc(-612px / 2);
    margin-left: calc(-408px / 2);
  }
  .city {
    width: calc(100% / 2);
    height: calc(100% / 3);
  }
}
@media (min-width: 768px) {
  .cubes {
    width: 612px;
    height: 408px;
    margin-top: calc(-408px / 2);
    margin-left: calc(-612px / 2);
  }
  .city {
    width: calc(100% / 3);
    height: calc(100% / 2);
  }
}
