@import url('//fonts.googleapis.com/css?family=Montserrat');

html, body {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  font-family: Montserrat, Helvetica, sans-serif;
}

.widget {
  min-width: 100%;
  min-height: 100%;
  padding-bottom: 5%;
  background-image: url(../img/background.png);
  flex-grow: 1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  padding-top: 5%;
}

#forecast {
  display: block;
}

.forecast__input {
  width: 100%;
}

.forecast__selection {
  width: 100%;
  margin: 3% 0;
  color:  #b53355;
  display: flex;
  justify-content: space-around;
}

.forecast__selection-item {
  margin-left: 5px;
}

.suggestions {
  color: #b53355;
  list-style: none;
  padding-left: 0;
}

.suggestions__item {
  padding: 5px 0;
  cursor: pointer;
}

.suggestions__item:hover {
  color: #000;
}

.cubes {
  color: #ffffff;
  box-shadow: 3px 3px 10px #000000;
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.cube__content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cube:nth-child(7n) {
  background-color: #00b4df;
}
.cube:nth-child(7n) .svg-icon {
  filter: drop-shadow(0 1px 0 rgba(7, 150, 202, 0.75));
}
.cube:nth-child(7n-1) {
  background-color: #00de89;
}
.cube:nth-child(7n-1) .svg-icon {
  filter: drop-shadow(0 1px 0 rgba(38, 184, 85, 0.75));
}
.cube:nth-child(7n-2) {
  background-color: #7900f9;
}
.cube:nth-child(7n-2) .svg-icon {
  filter: drop-shadow(0 1px 0 rgba(52, 24, 239, 0.75));
}
.cube:nth-child(7n-3) {
  background-color: #e9b828;
}
.cube:nth-child(7n-3) .svg-icon {
  filter: drop-shadow(0 1px 0 rgba(211, 148, 31, 0.75));
}
.cube:nth-child(7n-4) {
  background-color: #f1005c;
}
.cube:nth-child(7n-4) .svg-icon {
  filter: drop-shadow(0 1px 0 rgba(203, 34, 67, 0.75));
}
.cube:nth-child(7n-5) {
  background-color: #d126cd;
}
.cube:nth-child(7n-5) .svg-icon {
  filter: drop-shadow(0 1px 0 rgba(155, 45, 177, 0.75));
}
.cube:nth-child(7n-6) {
  background-color: #b53355;
}
.cube:nth-child(7n-6) .svg-icon {
  filter: drop-shadow(0 1px 0 rgba(170, 23, 49, 0.75));
}

.day {
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  width: 100%;
  margin-bottom: 0;
  margin-top: 29px;
}

/*styles for icons*/

.svg-sprite {
  display: none;
  overflow: auto;
}
.svg-icon {
  display: inline-block;
  overflow: auto;
  fill: #fff;
  fill-rule: evenodd;
  width: 100px;
  height: 100px;
}


@media (max-width: 479px) {
  .widget {
    min-width: 204px;
  }
  .cubes {
    width: 100%;
  }
  .cube {
    width: 100%;
    height: 204px;
  }

  .widget {
    flex-direction: column;
    padding-left: 0;
  }

  #forecast {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .cubes {
    width: 408px;
  }

  .cube {
    width: 204px;
    height: 204px;
  }

  .widget {
    flex-direction: column;
    align-items: center;
  }

  #forecast {
    width: 408px;
  }

  /*.forecast__input {
    width: 408px;
  }

  .forecast__selection {
    width: 408px;
  }*/
}
@media (min-width: 768px) and (max-width: 1039px) {
  .cubes {
    width: 612px;
  }

  .cube {
    width: 204px;
    height: 204px;
  }

  .widget {
    flex-direction: column;
    align-items: center;
  }

  #forecast {
    width: 612px;
  }

  /*.suggestions {
    color: #b53355;*/

  /*.forecast__input {
    width: 612px;
  }

  .forecast__selection {
    width: 612px;
  }*/
}
@media (min-width: 1040px) {
  .cubes {
    width: 612px;
  }

  .cube {
    width: 204px;
    height: 204px;
  }

  .widget {
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 5%;
  }

  .forecast {
    width: 30%;
  }

  .forecast__result {
    width: 70%;
    margin-left: 5%;
  }

  #forecast {
    width: 300px;
  }


  .suggestions {
    color: #DCDCDC;
  }

  .suggestions__item:hover {
    color: #fff;
  }
  /*.forecast__input {
    width: 300px;
  }

  .forecast__selection {
    width: 300px;
  }*/
}
